{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'abenmada_translation_plugin.ui.translations'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            {% include '@TranslationPlugin/Admin/Translation/Overview/_header.html.twig' %}
            {% include '@TranslationPlugin/Admin/Translation/Overview/_breadcrumb.html.twig' %}
        </div>

        <div class="middle aligned column">
            <div class="ui right floated buttons">
                <a class="ui labeled icon button primary" href="{{ path('abenmada_translation_plugin_create') }}">
                    <i class="plus icon"></i>
                    {{ 'sylius.ui.create' | trans }}
                </a>

                <a class="ui labeled icon button yellow" href="{{ path('abenmada_translation_plugin_index') }}">
                    <i class="language icon"></i>
                    {{ 'abenmada_translation_plugin.ui.translations' | trans }}
                </a>
            </div>
        </div>
    </div><br/>

    <iframe src="{{ path('lexik_translation_overview') }}" width="100%" height="800px" frameBorder="0"></iframe>
{% endblock %}
